@charset "UTF-8";
header{
 background-color:#006400;
 height:70px;
 font-size:30px;
 color:#ffffff;
 line-height:70px;
 text-align:center;
 vertical-align:middle;
}
nav{
 background-color:#90EE90;
 height:40px;
 line-height:45px;
 vertical-align:middle;
}
section{
 background-color:#FFFAF0;
 min-height:600px;

}
footer{
 background-color:#90EE90;
 height:35px;
 line-height:35px;
 text-align:center;
 vertical-align:middle;
}
.table1 {
width: 500px;
}
.facilityInfo {
	width: 200px;
}